Repository migueBarrera/MiBocata: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

pipelines/azure-pipelines-businnes.yml:

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - src/MiBocata.Client
    - src/MiBocata.API

pool:
  vmImage: 'macos-latest'

steps:
- script: sudo $AGENT_HOMEDIRECTORY/scripts/select-xamarin-sdk.sh 5_12_0
  displayName: 'Select the Xamarin SDK version'
  enabled: false

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'src/MiBocata.Client/MiBocata.Client.sln'

- task: XamariniOS@2
  inputs:
    solutionFile: 'src/MiBocata.Client/MiBocata/MiBocata.iOS/MiBocata.iOS.csproj'
    configuration: 'Release'
    buildForSimulator: true
    packageApp: false

pipelines/azure-pipelines-client.yml:

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - src/MiBocata.Businnes
    - src/MiBocata.API

pool:
  vmImage: 'macos-latest'

variables:
  buildConfiguration: 'Release'
  outputDirectory: '$(build.binariesDirectory)/$(buildConfiguration)'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'src/MiBocata.Client/MiBocata.Client.sln'

- task: XamarinAndroid@1
  inputs:
    projectFile: 'src/MiBocata.Client/MiBocata/MiBocata.Android/MiBocata.Android.csproj'
    outputDirectory: '$(outputDirectory)'
    configuration: '$(buildConfiguration)'

Set up CI with Azure Pipelines
  pipelines/azure-pipelines-client.yml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

Set up CI with Azure Pipelines
  pipelines/azure-pipelines-businnes.yml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

Set up CI with Azure Pipelines
  pipelines/azure-pipelines-api.yml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

change only businnes
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Configuration/ConfigurationViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Home/HomePage.xaml.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Home/HomeViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/LogIn/LogInViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Orders/OrderViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Products/NewProductViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Products/ProductsViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Registro/RegisterViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Stores/ChooseLocationViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Stores/CreateStoreViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Stores/StoreViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Framework/BasePage.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Framework/BaseViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Services/Commons/Navigation/INavigationService.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Services/Commons/Navigation/NavigationPopupService.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Services/Commons/Navigation/NavigationService.cs
Due: pipelines/azure-pipelines-businnes.yml

release warning
  src/MiBocata.Client/MiBocata/MiBocata.iOS/GlobalSuppressions.cs
  src/MiBocata.Client/MiBocata/MiBocata.iOS/Main.cs
Due: pipelines/azure-pipelines-client.yml

remove ios analiser
  src/MiBocata.Client/MiBocata/MiBocata.iOS/GlobalSuppressions.cs
  src/MiBocata.Client/MiBocata/MiBocata.iOS/MiBocata.iOS.csproj
Due: pipelines/azure-pipelines-client.yml

google maps to ios
  src/MiBocata.Client/MiBocata/MiBocata.iOS/MiBocata.iOS.csproj
Due: pipelines/azure-pipelines-client.yml

wip
  src/Commons/Mibocata.Core/Services/AppCenterService.cs
  src/Commons/Models/Responses/ShopkeeperSignInResponse.cs
  src/Commons/Models/Responses/StoreResponse.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/LogIn/LogInService.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Products/ProductsPage.xaml
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Framework/DefaultSettings.cs
  src/MiBocata.Client/MiBocata/MiBocata/Features/Register/IRegisterService.cs
  src/MiBocata.Client/MiBocata/MiBocata/Features/Register/RegisterService.cs
  src/MiBocata.Client/MiBocata/MiBocata/Features/Register/RegisterViewModel.cs
  src/MiBocataAPI/Mibocata.Infrastructure/Data/Models/Mappers/StoreMapper.cs
  src/MiBocataAPI/Mibocata.Infrastructure/Data/Models/Product.cs
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  src/MiBocata.Client/MiBocata/MiBocata.Android/MiBocata.Android.csproj
  src/MiBocata.Client/MiBocata/MiBocata/Framework/ClientDependencies.cs
  src/MiBocataAPI/MiBocataAPI/Controllers/StoresController.cs
  src/MiBocataAPI/Mibocata.Infrastructure/Data/Models/Mappers/StoreMapper.cs
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  src/Commons/Mibocata.Core/Services/AppCenterService.cs
  src/MiBocataAPI/MiBocataAPI/Controllers/TestController.cs
  src/MiBocataAPI/Mibocata.Infrastructure/Data/Models/Mappers/StoreMapper.cs
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  src/Commons/Mibocata.Core/CoreDependecies.cs
  src/Commons/Mibocata.Core/Features/Refit/RefitService.cs
  src/Commons/Mibocata.Core/Services/Interfaces/IAppSecretsService.cs
  src/Commons/Mibocata.Core/Services/PreferencesService.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Configuration/ConfigurationViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/LogIn/LogInViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Orders/OrderViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Products/NewProductViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Products/ProductsViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Registro/RegisterViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Stores/ChooseLocationService.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Stores/ChooseLocationViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Stores/CreateStoreService.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Stores/CreateStoreViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Stores/IChooseLocationService.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Features/Stores/StoreViewModel.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Framework/AsyncCommand.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Framework/BusinnesDependencies.cs
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes.csproj
  src/MiBocata.Businnes/MiBocata.Businnes/MiBocata.Businnes/Services/AppSecretsService.cs
  src/MiBocata.Client/MiBocata/MiBocata.Android/MiBocata.Android.csproj
  src/MiBocata.Client/MiBocata/MiBocata.Android/Properties/AndroidManifest.xml
  src/MiBocata.Client/MiBocata/MiBocata/Features/Cart/CartViewModel.cs
  src/MiBocata.Client/MiBocata/MiBocata/Features/LogIn/LogInControlViewModel.cs
  src/MiBocata.Client/MiBocata/MiBocata/Features/Profile/EditProfileViewModel.cs
  src/MiBocata.Client/MiBocata/MiBocata/Features/Profile/ProfileViewModel.cs
  src/MiBocata.Client/MiBocata/MiBocata/Features/Register/RegisterViewModel.cs
  src/MiBocata.Client/MiBocata/MiBocata/Features/Stores/AddProductViewModel.cs
  src/MiBocata.Client/MiBocata/MiBocata/Features/Stores/StoreDetailViewModel.cs
  src/MiBocata.Client/MiBocata/MiBocata/Framework/AsyncCommand.cs
  src/MiBocata.Client/MiBocata/MiBocata/Framework/ClientDependencies.cs
  src/MiBocata.Client/MiBocata/MiBocata/MiBocata.csproj
  src/MiBocata.Client/MiBocata/MiBocata/Services/API/RefitServices/RefitService.cs
  src/MiBocata.Client/MiBocata/MiBocata/Services/AppSecretsService.cs
  src/MiBocataAPI/MiBocataAPI/MiBocataAPI.csproj
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  src/MiBocata.Businnes/MiBocata.Businnes.csproj
  src/MiBocata.Client/Framework/ServiceExtension.cs
  src/MiBocata.Client/MiBocata.csproj
  src/MiBocata.Client/Services/Commons/NotificationService/EmptyNotificationService.cs
  src/MiBocata.Client/Services/Commons/NotificationService/INotificationService.cs
  src/MiBocata.Client/Services/Commons/NotificationService/OneSignalService.cs
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  README.es.md
  README.md
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

readme multilanguage
  README.es.md
  README.md
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

Update README.md
  README.md
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  .github/workflows/businnes-ci.yml
  .github/workflows/client-ci.yml
  src/MiBocata.Client/App.xaml.cs
  src/MiBocata.Client/AppHomeShell.xaml
  src/MiBocata.Client/Features/LogIn/LogInControlView.xaml
  src/MiBocata.Client/Features/Profile/ProfilePage.xaml
  src/MiBocata.Client/Features/Register/RegisterPage.xaml
  src/MiBocata.Client/Features/Stores/AddProductPage.xaml
  src/MiBocata.Client/Features/Stores/AddProductPage.xaml.cs
  src/MiBocata.Client/Features/Stores/AddProductViewModel.cs
  src/MiBocata.Client/Features/Stores/StoreDetailViewModel.cs
  src/MiBocata.Client/Framework/ServiceExtension.cs
  src/MiBocata.Client/GlobalSuppressions.cs
  src/MiBocata.Client/Resources/Styles.xaml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  .github/workflows/businnes-ci.yml
  .github/workflows/client-ci.yml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  src/MiBocata.Businnes/Features/Orders/Templates/OrderItemView.xaml
Due: pipelines/azure-pipelines-businnes.yml

wip
  src/Commons/Models/Responses/OrdersResponse.cs
  src/MiBocata.Client/App.xaml.cs
  src/MiBocata.Client/AppHomeShell.xaml
  src/MiBocata.Client/Features/Cart/CartViewModel.cs
  src/MiBocata.Client/Features/Cart/Templates/CartItemTemplate.xaml
  src/MiBocata.Client/Features/Cart/Templates/CartItemTemplate.xaml.cs
  src/MiBocata.Client/Features/Orders/Templates/OrderItemView.xaml
  src/MiBocata.Client/Features/Stores/AddProductViewModel.cs
  src/MiBocata.Client/Features/Stores/StoreDetailViewModel.cs
  src/MiBocata.Client/Framework/ServiceExtension.cs
  src/MiBocata.Client/MiBocata.Client.sln
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  src/Commons/Mibocata.Core/Extensions/IServiceProviderExtensions.cs
  src/Commons/Mibocata.Core/Framework/ObservableObject.cs
  src/MiBocata.Businnes/Features/LogIn/LogInPage.xaml
  src/MiBocata.Businnes/Features/LogIn/LogInViewModel.cs
  src/MiBocata.Businnes/Features/Orders/OrderPage.xaml
  src/MiBocata.Businnes/Features/Orders/OrderPage.xaml.cs
  src/MiBocata.Businnes/Features/Orders/OrderViewModel.cs
  src/MiBocata.Businnes/Features/Registro/RegisterPage.xaml
  src/MiBocata.Businnes/Platforms/Android/AndroidManifest.xml
  src/MiBocata.Client/Controls/NumericUpDown.xaml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

ci template
  .github/workflows/businnes-ci.yml
  .github/workflows/client-ci.yml
  .github/workflows/template-maui-ci.yml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

cd
  .github/workflows/businnes-cd.yml
  .github/workflows/client-cd.yml
  .github/workflows/template-maui-cd.yml
  android-keystore-test.jks.gpg
  pipelines/azure-pipelines-api.yml
  pipelines/azure-pipelines-businnes.yml
  pipelines/azure-pipelines-client.yml
  src/MiBocata.Businnes/Features/Orders/OrderViewModel.cs
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

only android cd
  .github/workflows/template-maui-cd.yml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  src/Commons/Models/Core/OrderProduct.cs
  src/MiBocata.Client/Controls/NumericUpDown.xaml
  src/MiBocata.Client/Features/Cart/CartViewModel.cs
  src/MiBocata.Client/Features/Cart/Templates/CartItemTemplate.xaml
  src/MiBocata.Client/Features/Orders/Templates/OrderItemView.xaml
  src/MiBocata.Client/Features/Profile/ProfilePage.xaml
  src/MiBocata.Client/Features/Stores/StoreDetailViewModel.cs
  src/MiBocata.Client/Features/Stores/StoresPage.xaml
  src/MiBocata.Client/Features/Stores/StoresViewModel.cs
  src/MiBocata.Client/Features/Stores/Templates/StoreDetailItemView.xaml
  src/MiBocata.Client/Resources/Images/add_circle.svg
  src/MiBocata.Client/Resources/Images/remove_circle.svg
  src/MiBocata.Client/Resources/Images/round_add_circle_outline_black_24.png
  src/MiBocata.Client/Resources/Images/round_remove_circle_outline_black_24.png
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

wip
  src/Commons/Mibocata.Core/Features/Refit/RefitService.cs
  src/Commons/Mibocata.Core/Mibocata.Core.csproj
  src/Commons/Models/Models.csproj
  src/MiBocata.Client/Controls/NumericUpDown.xaml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

businnes navigation
  src/MiBocata.Businnes/App.xaml.cs
  src/MiBocata.Businnes/AppHomeShell.xaml
  src/MiBocata.Businnes/Features/Configuration/ConfigurationViewModel.cs
  src/MiBocata.Businnes/Features/LogIn/LogInPage.xaml
  src/MiBocata.Businnes/Features/LogIn/Templates/HelpYouView.xaml
  src/MiBocata.Businnes/Features/Products/NewProductPage.xaml.cs
  src/MiBocata.Businnes/Features/Products/NewProductViewModel.cs
  src/MiBocata.Businnes/Features/Products/ProductsPage.xaml.cs
  src/MiBocata.Businnes/Features/Products/ProductsViewModel.cs
  src/MiBocata.Businnes/Features/Registro/RegisterPage.xaml
  src/MiBocata.Businnes/Features/Stores/StorePage.xaml.cs
  src/MiBocata.Businnes/Features/Stores/StoreViewModel.cs
  src/MiBocata.Businnes/MainPage.xaml
  src/MiBocata.Businnes/MainPage.xaml.cs
Due: pipelines/azure-pipelines-businnes.yml

Fix make order - Parse error
  src/Commons/Models/Core/OrderProduct.cs
  src/MiBocata.Businnes/Features/Orders/Templates/OrderItemView.xaml
  src/MiBocata.Client/Features/Cart/CartViewModel.cs
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

fix build error
  src/MiBocata.Businnes/Features/Orders/Templates/OrderItemView.xaml
  src/MiBocata.Client/Features/Orders/Templates/OrderItemView.xaml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

add fonts SpaceMono
  src/Commons/Models/Requests/UpdateOrderRequest.cs
  src/MiBocata.Businnes/Features/LogIn/LogInPage.xaml
  src/MiBocata.Businnes/Features/LogIn/Templates/HelpYouView.xaml
  src/MiBocata.Businnes/Features/Orders/OrderViewModel.cs
  src/MiBocata.Businnes/Features/Orders/Templates/OrderItemView.xaml
  src/MiBocata.Businnes/Features/Stores/StorePage.xaml
  src/MiBocata.Businnes/MauiProgram.cs
  src/MiBocata.Businnes/MiBocata.Businnes.csproj
  src/MiBocata.Businnes/Resources/Fonts/SpaceMono-Bold.ttf
  src/MiBocata.Businnes/Resources/Fonts/SpaceMono-Italic.ttf
  src/MiBocata.Businnes/Resources/Fonts/SpaceMono-Regular.ttf
  src/MiBocata.Businnes/Resources/Images/defaultstore.jpg
  src/MiBocata.Businnes/Resources/Styles.xaml
  src/MiBocata.Client/MauiProgram.cs
  src/MiBocata.Client/Resources/Fonts/SpaceMono-Bold.ttf
  src/MiBocata.Client/Resources/Fonts/SpaceMono-Italic.ttf
  src/MiBocata.Client/Resources/Fonts/SpaceMono-Regular.ttf
  src/MiBocata.Client/Resources/Styles.xaml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

fix build
  src/MiBocata.Businnes/MiBocata.Businnes.csproj
Due: pipelines/azure-pipelines-businnes.yml

test use macos for CI
  .github/workflows/template-maui-ci.yml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

remove macos build
  .github/workflows/template-maui-ci.yml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml
