Repository migueBarrera/MiBocata: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

pipelines/azure-pipelines-api.yml:

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - src/MiBocata.Businnes
    - src/MiBocata.Client
    - src/pipelines/azure-pipelines-client.yml
    - src/pipelines/azure-pipelines-businnes.yml

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    version: '6.0.x'

- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: 'src/MiBocataAPI/MiBocataAPI.sln'
    
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: 'src/MiBocataAPI/MiBocataAPI/MiBocataAPI.csproj'
    arguments: '--configuration $(buildConfiguration)' # Update this to match your need

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    arguments: '-r linux-x64 --self-contained false --configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: false
    workingDirectory: 'src/MiBocataAPI/MiBocataAPI'

# this code takes all the files in $(Build.ArtifactStagingDirectory) and uploads them as an artifact of your build.
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)' 
    artifactName: 'myWebsiteName'

pipelines/azure-pipelines-businnes.yml:

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - src/MiBocata.Client
    - src/MiBocata.API

pool:
  vmImage: 'macos-latest'

steps:
- script: sudo $AGENT_HOMEDIRECTORY/scripts/select-xamarin-sdk.sh 5_12_0
  displayName: 'Select the Xamarin SDK version'
  enabled: false

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'src/MiBocata.Client/MiBocata.Client.sln'

- task: XamariniOS@2
  inputs:
    solutionFile: 'src/MiBocata.Client/MiBocata/MiBocata.iOS/MiBocata.iOS.csproj'
    configuration: 'Release'
    buildForSimulator: true
    packageApp: false

pipelines/azure-pipelines-client.yml:

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - src/MiBocata.Businnes
    - src/MiBocata.API

pool:
  vmImage: 'macos-latest'

variables:
  buildConfiguration: 'Release'
  outputDirectory: '$(build.binariesDirectory)/$(buildConfiguration)'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: 'src/MiBocata.Client/MiBocata.Client.sln'

- task: XamarinAndroid@1
  inputs:
    projectFile: 'src/MiBocata.Client/MiBocata/MiBocata.Android/MiBocata.Android.csproj'
    outputDirectory: '$(outputDirectory)'
    configuration: '$(buildConfiguration)'

test fix ios build
  src/MiBocata.Client/MiBocata.csproj
  src/MiBocata.Client/Platforms/iOS/Info.plist
Due: pipelines/azure-pipelines-client.yml

wip
  .github/workflows/template-maui-ci.yml
Due: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

change csproj bussines
  src/MiBocata.Businnes/MiBocata.Businnes.csproj
  src/MiBocata.Businnes/Platforms/iOS/Info.plist
Due: pipelines/azure-pipelines-businnes.yml

remove CD actions on PR
  .github/workflows/businnes-cd.yml
  .github/workflows/client-cd.yml
Due: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

remove warnings
  src/MiBocata.Businnes/.editorconfig
  src/MiBocata.Businnes/Features/LogIn/LogInViewModel.cs
  src/MiBocata.Businnes/Features/LogIn/Templates/HelpYouService.cs
  src/MiBocata.Businnes/Features/LogIn/Templates/IHelpYouService.cs
  src/MiBocata.Businnes/Features/Products/NewProductViewModel.cs
  src/MiBocata.Businnes/Features/Registro/RegisterService.cs
  src/MiBocata.Businnes/Features/Registro/RegisterViewModel.cs
  src/MiBocata.Businnes/Features/Stores/CreateStoreService.cs
  src/MiBocata.Businnes/Framework/ServiceExtension.cs
  src/MiBocata.Businnes/MiBocata.Businnes.csproj
  src/MiBocata.Businnes/MiBocata.Businnes.sln
  src/MiBocata.Client/.editorconfig
  src/MiBocata.Client/AppHomeShell.xaml
  src/MiBocata.Client/Controls/NumericUpDown.xaml
  src/MiBocata.Client/Controls/NumericUpDown.xaml.cs
  src/MiBocata.Client/Features/Cart/CartPage.xaml
  src/MiBocata.Client/Features/LogIn/LogInControlViewModel.cs
  src/MiBocata.Client/Features/Orders/OrdersPage.xaml
  src/MiBocata.Client/Features/Orders/Templates/EmptyOrderListView.xaml
  src/MiBocata.Client/Features/Profile/EditProfileViewModel.cs
  src/MiBocata.Client/Features/Profile/ProfileViewModel.cs
  src/MiBocata.Client/Features/Register/RegisterService.cs
  src/MiBocata.Client/Features/Stores/StoreDetailPage.xaml
  src/MiBocata.Client/Features/Stores/StoreDetailViewModel.cs
  src/MiBocata.Client/Features/Stores/StoresPage.xaml
  src/MiBocata.Client/MiBocata.csproj
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

fix store register navigation flow
  src/MiBocata.Businnes/AppShell.xaml
  src/MiBocata.Businnes/Features/LogIn/LogInService.cs
  src/MiBocata.Businnes/Features/Registro/IRegisterService.cs
  src/MiBocata.Businnes/Features/Registro/RegisterPage.xaml
  src/MiBocata.Businnes/Features/Registro/RegisterService.cs
  src/MiBocata.Businnes/Features/Registro/RegisterViewModel.cs
  src/MiBocata.Businnes/Features/Stores/ChooseLocationPage.xaml
  src/MiBocata.Businnes/Features/Stores/ChooseLocationPage.xaml.cs
  src/MiBocata.Businnes/Features/Stores/ChooseLocationService.cs
  src/MiBocata.Businnes/Features/Stores/CreateStorePage.xaml
  src/MiBocata.Businnes/Features/Stores/CreateStorePage.xaml.cs
  src/MiBocata.Businnes/Features/Stores/CreateStoreService.cs
Due: pipelines/azure-pipelines-businnes.yml

more refactor
  src/MiBocata.Businnes/Features/Stores/ChooseLocationViewModel.cs
  src/MiBocata.Businnes/Features/Stores/CreateStorePage.xaml
  src/MiBocata.Businnes/Features/Stores/CreateStoreViewModel.cs
  src/MiBocata.Client/Features/LogIn/LogInControlView.xaml
  src/MiBocata.Client/Features/Stores/Templates/StoreDetailItemView.xaml
Due: pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

net 8
  src/Commons/Mibocata.Core/Mibocata.Core.csproj
  src/Commons/Models/Models.csproj
  src/MiBocata.Businnes/MiBocata.Businnes.csproj
  src/MiBocata.Client/MiBocata.Client.sln
  src/MiBocata.Client/MiBocata.csproj
  src/MiBocataAPI/MiBocataAPI.sln
  src/MiBocataAPI/MiBocataAPI/DB/MBDBContext.cs
  src/MiBocataAPI/MiBocataAPI/Framework/MBControllerBase.cs
  src/MiBocataAPI/MiBocataAPI/GlobalUsings.cs
  src/MiBocataAPI/MiBocataAPI/Helpers/ImageHelper.cs
  src/MiBocataAPI/MiBocataAPI/MiBocataAPI.csproj
  src/MiBocataAPI/MiBocataAPI/Middleware/DataBaseExtension.cs
  src/MiBocataAPI/MiBocataAPI/Program.cs
  src/MiBocataAPI/MiBocataAPI/Startup.cs
  src/MiBocataAPI/Mibocata.Infrastructure/Data/Models/Product.cs
  src/MiBocataAPI/Mibocata.Infrastructure/Mibocata.Infrastructure.csproj
Due: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

actions ci net 8
  .github/workflows/template-maui-cd.yml
Due: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

Update template-maui-ci.yml
  .github/workflows/template-maui-ci.yml
Due: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

terraform
  main.tf
  outputs.tf
  terraform.tfvars
  variables.tf
Due: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

pipeline
  pipelines.yaml
Due: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

InMemory database
  src/MiBocata.Businnes/Features/LogIn/LogInViewModel.cs
  src/MiBocata.Businnes/Framework/DefaultSettings.cs
  src/MiBocata.Client/Features/LogIn/LogInControlViewModel.cs
  src/MiBocata.Client/Framework/DefaultSettings.cs
  src/MiBocataAPI/MiBocataAPI/Controllers/TestController.cs
  src/MiBocataAPI/MiBocataAPI/MiBocataAPI.csproj
  src/MiBocataAPI/MiBocataAPI/Middleware/DataBaseExtension.cs
  src/MiBocataAPI/MiBocataAPI/appsettings.Development.json
  src/MiBocataAPI/MiBocataAPI/appsettings.json
Due: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml

Set up CI with Azure Pipelines
  pipelines.yaml
Due: pipelines/azure-pipelines-api.yml, pipelines/azure-pipelines-businnes.yml, pipelines/azure-pipelines-client.yml
